* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #0c0b13;
    color: #f7ffff;
    background-size: auto;
}

.icone {
    font-family: 'Material Symbols Outlined';
    font-size: 24px;
    color: #00e676;
}


.cima {
    background-color: #0b0b14ef;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px;
    border-bottom: 1px solid #9d93f51a;
    box-shadow:0 4px 20px rgba(8, 12, 20, 0.137)
}

.titulo_cima {
    width: 180px;
    font-size: 24px;
    font-weight: bold;
}

.busca {
    width: 400px;
    height: 40px;
    display: flex;
    align-content: center;
    background-color: transparent;
    border: 1px solid #9d93f51a;
    border-radius: 12px;
    outline: none;
    padding: 25px;
    color: #e7ffae;
}

.busca::placeholder {
    text-align: justify;
    color: #00e676;
    font-size: 16px;
}

.user {
    width: 170px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 10px;
}

.nome_aluno {
    font-size: 14px;
}

.aba_lateral{
    width:62px;
    height: 800px;
    background:#0b0b14ef;
    padding-top:20px;
    transition: 0.8s;
    overflow:hidden;
    box-shadow:0 4px 20px rgba(6, 8, 15, 0.17);
    position: absolute;
}

.aba_lateral:hover{
    width:230px;
}

.menu{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px 22px;
    cursor:pointer;
    transition:.25s;
    color:#00e676;
    white-space:nowrap;
}

.menu:hover{
    background:#142510e5;
}

.menu_inicio{
    display:flex;
    align-items:center;
    gap:18px;
    padding:18px 22px;
    cursor:pointer;
    transition:.25s;
    color:#00e676;
    background:rgba(12, 82, 21, 0.267);
    border-left:4px solid #048f04;
}


.principal {
    flex: 1;
    display: flex;
    padding: 30px;
    align-items: center;
    flex-direction: column;
}


.cadastro {
    font-size: 28px;
    margin-bottom: 8px;
    width: 100%;
    max-width: 1000px;
}

.subt {
    color: #78fc50;
    margin-bottom: 25px;
    width: 100%;
    max-width: 1000px;
}

.tela_cadastro {
    width: 100%;
    max-width: 1000px;
    background-color: #13141daf;
    border-radius: 12px;
    padding: 25px;
    display: flex;
    gap: 25px;
    box-shadow:0 4px 20px rgba(6, 8, 15, 0.17);
}

.form {
    flex: 1;
}


.titulo_info {
    font-size: 18px;
    margin-bottom: 18px;
    color: #00e676;
}

.labels {
    color: #78fc50;
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
}

.ipt {
    background-color: transparent;
    color: #78fc50;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 35px;
    border: 1px solid #918bc727;
    border-radius: 10px;
    outline: none;
}

.ipt_radio {
    accent-color: #78fc50;
    cursor: pointer;
}

.txt {
    background-color: transparent;
    color: #78fc50;
    width: 100%;
    max-width: 1000px;
    height: 80px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #78fc50;
    border-radius: 10px;
    outline: none;
    resize: none;
}


.slct {
    background-color: transparent;
    color: #78fc50;
    width: 100%;
    max-width: 1000px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #918bc727;
    border-radius: 10px;
    outline: none;
}

.slct::-webkit-keygen-select {
    color: #00e676;
    background-color: #0c0b13;
}

.up_img {
    background-color: transparent;
    color: #78fc50;
    width: 100%;
    padding: 10px;
    font-size: 14px;
    margin-bottom: 15px;
    border: 1px solid #7b6cff27;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
}

.up_img::-webkit-file-upload-button {
    background-color: #048f04;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    display: flex;
    color: #fff;
    outline: none;
    border: none;
}


.btn{
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 25px;
}


.bt1,.bt2{
    padding: 14px 22px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}


.bt1{
    background-color: #048f04;
    color: white;
}


.bt1:hover{
    background-color: #05aa05;
}

p {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

.bt2{
    background-color: #161824;
    color: #78fc50;
    border: 1px solid #2d3a2d;
}


.bt2:hover{
    background-color: #1f2435;
}


.abas{
    width: 100%;
    max-width: 1000px;
    display: flex;
    gap: 12px;
    margin-top: 20px;
    margin-bottom: 25px;
}


.abas button{
    padding: 15px 18px;
    border: none;
    border-radius: 10px;
    background-color: #161824;
    color: #78fc50;
    cursor: pointer;
    transition: 0.3s;
}


.abas button:hover{
    background-color: #1f2435;
}


.abas button:focus{
    background-color: #048f04;
    color: white;
}

table{
    width: 100%;
    max-width: 1000px;
    border-collapse: collapse;
    background-color: #13141daf;
    border-radius: 12px;
    overflow: hidden;
}


th{
    background-color: #048f04;
    color: white;
    padding: 15px;
}


td{
    padding: 15px;
    text-align: center;
    border-bottom: 1px solid #232533;
    color: #d8ffd8;
}


tr:hover{
    background-color: #1a1d29;
}

p {
    display: flex;
    align-content: center;
    justify-content: center;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    color: #00e676;
    font-size: 12px;
}